.about-us-container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
    /* padding: 20px; */
    /* background-color: red; */
    text-align: justify;
  }
  
  .about-us-heading {
    font-size: 30px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }
  
  .about-us-description {
    font-size: 16px;
    color: #666;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .about-us-content {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .plant_logo_right{
    text-align: right;
  }

  .plant_logo_left{
    text-align: left;
  }